* {
  margin: 0;
  padding: 0;
}
html, body, canvas {
  width: 100%;
  height: 100%;
}
canvas {
  display: none;
  position: absolute;
}
#startPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-y: hidden;
}
.difficultySelector{
  flex-direction: row;
}
#playerName {
  width: 50%;
}
#endPage {
  display: none;
  flex-direction: column;
  text-align: center;
}
.stats {
  display: flex;
  flex-direction: column;
  text-align: center;
}