* {
  margin: 0;
  padding: 0;
}
html, body, canvas {
  width: 100%;
  height: 100%;
  font-family: Arial;
  background-color: #93bb70;
}
canvas {
  display: none;
  position: absolute;
}
#startPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-y: hidden;
  padding-top: 5%;
}
.startHeading {
  padding-bottom: 2%;
}
.startText {
  padding-top: 2%;
  padding-bottom: 2%;
}
#startButton, #reset {
  width: 5%;
  background-color: #9fa8a8;
  border-style: solid;
  border-color: black;
}
.difficultySelector{
  margin-bottom: 1%;
}
.difficultyBox{
  border-radius: 1px;
  background-color: black;
}
#playerName {
  width: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}
#endPage {
  margin-top: 2%;
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
#endGuessedWords {
  margin-bottom: 1%;
}
.stats {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  justify-content: center;
}
#tableHeader {
  margin-top: 2%;
}
#highScores {
  width: 75%;
  margin: auto;
  margin-top: 1%;
}
#reset {
  margin: auto;
  width: 10%;
}